:root {
    --font-primary-body: 'Nunito', serif;
    --font-primary-body-weight: 200;
    --font-primary-display: 'Nunito', sans-serif;
    --color-primary-background: #D6E1D5;
    --color-secondary-background: #9FADA0;
    --color-text-primary: rgb(6, 5, 56);
    --color-text-secondary: rgb(3, 94, 44);
}